@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}
nav {
    margin-top: 1em; margin-bottom: 1em;
    margin-left: 0.5em; margin-right: 0.5em;
    position: sticky;
    top: 10px; bottom: 10px;
    z-index: 10;
}
footer {
    margin-top: 2em; margin-bottom: 1em;
    margin-left: 0.5em; margin-right: 0.5em;
}
.iconify {
    margin-left: 2px; margin-right: 2px;
    vertical-align: top;
}
body {
    height: 100%;
}

/* https://diw112.github.io/semanticUiAlert/ */
.ui-alert-content{
    position: fixed;
    width: 360px;
    z-index: 2060;
  }
  .ui-alert-content-top-right{
    top: 20px;
    right: 20px;
  }
  .ui-alert-content-top-center{
    top: 20px;
    margin: 0 0 0 -180px;
    left: 50%;
  }
  .ui-alert-content-top-left{
    top: 20px;
    left: 20px;
  }
  .ui-alert-content-bottom-right{
    bottom: 0;
    right: 20px;
  }
  .ui-alert-content-bottom-center{
    bottom: 0;
    margin: 0 0 0 -180px;
    left: 50%;
  }
  .ui-alert-content-bottom-left{
    bottom: 0;
    left: 20px;
  }
  .ui-alert {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .ui-alert p{
    display: table;
  }
  