@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}
nav {
    margin-top: 1em; margin-bottom: 1em;
    margin-left: 0.5em; margin-right: 0.5em;
    position: sticky;
    top: 10px; bottom: 10px;
}
footer {
    margin-top: 5em; margin-bottom: 1em;
    margin-left: 0.5em; margin-right: 0.5em;
}
.iconify {
    margin-left: 2px; margin-right: 2px;
    vertical-align: top;
}
body {
    height: 100%;
}