@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    font-family: 'Open Sans', sans-serif;
}