<!DOCTYPE html>
<html lang="en">

<head>
    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <main class="flex min-h-screen flex-col bg-white dark:bg-gray-900">
        <div class="flex flex-1 flex-col justify-center bg-white px-4 dark:bg-gray-900 sm:px-8">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="mb-8 flex flex-col items-center print:hidden text-gray-100">
        <div class="text-center">
            {/* Copyright footer that states all rights belong to Ashwin Charathsadnran */}
            <p class="text-gray-700 text-sm">
                &copy; 2022 Ashwin Charathsandran. All rights reserved.
                <br />
                Built with
                <a href="https://flask.palletsprojects.com/" class="hover:underline">Flask</a>
            </p>
        </div>
    </footer>
</body>

</html>