{% extends 'base.html' %}
{% block title %}
{{ config.title.prefix }} Homepage {{ config.title.seperator }} {{ config.title.suffix }}
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="justify-center mx-auto w-full max-w-4xl">
  <a href="/"
    class="absolute text-xl inline-block tracking-tight text-black dark:text-white bg-zinc-300 dark:bg-white md:text-3xl inline-block p-2 rounded-lg hover:outline hover:outline-02c39 hover:outline-5">
    <?xml version="1.0"encoding="UTF-8"?>
    <?xml version="1.0" encoding="UTF-8"?><svg class="text-black dark:text-white" width="30"
      enable-background="new 0 0 489.075 489.075" version="1.1" viewBox="0 0 489.08 489.08" xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="m482.45 220.78-115.5-111.2v-88.5c0-11.4-9.4-20.8-20.8-20.8s-20.8 9.4-20.8 20.8v48.5l-66.6-64.1c-7.3-7.3-19.8-7.3-28.1 0l-223.6 215.3c-8.3 8.3-9.4 20.8-1 29.1s20.8 9.4 29.1 1l3.1-3v220.4c0 11.4 9.4 20.8 20.8 20.8h372.4c11.4 0 19.8-9.4 20.8-19.8v-219.3l2.1 2c15.2 10.5 26 3.1 29.1-2.1 7.3-8.3 7.3-21.8-1-29.1zm-200.8 227.8h-72.8v-111.3h72.8v111.3zm129 0h-88.4v-132.1c0-11.4-9.4-20.8-20.8-20.8h-113.4c-11.4 0-20.8 9.4-20.8 20.8v132.1h-87.4v-203.9h330.8v203.9zm-326.8-244.4 161.4-155 159.8 155h-321.2z" />
    </svg>
  </a>
  <div class="mt-20 w-full flex-col">
    <div class="flex w-full">
        <form id="search_form" class=" rounded pt-6 pb-8 mb-4 w-full max-w-xl" method="get">
          <div class="mb-4">
            <input class="rounded w-full py-2 px-3 text-gray-700"
              id="search_term" type="text" placeholder="Search" />
          </div>
          <div class="flex justify-between w-full">
            <ul id="jobs" class="rounded w-full text-gray-700 dark:text-white">
            </ul>
          </div>
        </form>
    </div>
  </div>
  <div class="mt-10 w-full max-w-xl">
    <h1 class="mb-4 text-3xl font-bold tracking-tight text-white md:text-4xl">Manage your posts</h1>
    <label for="mode" class="block mb-2 text-xl font-medium text-gray-900 dark:text-gray-300">Select a mode</label>
    <select
      class="mb-8 mt-2 form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
      id="modes" name="modes">
      <option value="0">New Entry</option>
      <option value="1">Modify Entry</option>
      <option value="2">Delete Entry</option>
      <option value="3">Purge Expired Listings</option>
    </select>
    <form id="new_post" method="POST" style="display:none" action="/new">
      <div class="mb-6 mr-2 inline-block">
        <label for="expires_on" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Expires
          On</label>
        <input required class="rounded-lg p-2" type="date" name="expires_on" value="2022-06-10" min="2022-01-01"
          max="2030-01-01">
      </div>
      <div class="mb-6">
        <label for="url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">URL</label>
        <input required type="url" name="url"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="mb-6">
        <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
        <input required type="title" name="title"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="mb-6">
        <label for="position" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Position</label>
        <input required type="position" name="position"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="mb-6" >
      <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Company</label>
        <input required type="company" name="company"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="mb-6" >
        <label for="summary" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Summary</label>
        <textarea required name="summary"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
      </div>
      <div class="mb-6" >
        <label for="description"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Description <span class="text-xs italic">(translates using Markdown <a class="text-blue-500" href="https://stackedit.io/app#">edit now</a>)</span></label>
        <textarea required name="description"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
      </div>
      <div class="mb-6" >
        <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Location</label>
        <input required type="location" name="location"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <button type="submit"
        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
    <!-- --------------------------------------------------------------------------------------------------------- -->
    <form id="modify_post" method="POST" style="display:none" action="/edit">
      <div class="mb-6">
        <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">ID</label>
        <input required type="id" name="id"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
      </div>
      <div class="mb-6 mr-2 inline-block">
        <label for="expires_on" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Expires
          On</label>
        <input class="rounded-lg p-2" type="date" name="expires_on" value="2022-06-10" min="2022-01-01"
          max="2030-01-01" >
      </div>
      <div class="mb-6 inline-block">
        <label for="posted_on" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Posted On</label>
        <input class="rounded-lg p-2" type="date" name="posted_on" value="2022-06-10" min="2022-01-01" max="2030-01-01" >
      </div>
      <div class="mb-6" >
        <label for="url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">URL</label>
        <input  type="url" name="url"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="mb-6">
        <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
        <input  type="title" name="title"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="mb-6">
        <label for="position" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Position</label>
        <input  type="position" name="position"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="mb-6">
        <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Company</label>
        <input  type="company" name="company"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="mb-6">
        <label for="summary" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Summary</label>
        <textarea name="summary"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
      </div>
      <div class="mb-6">
        <label for="description"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Description</label>
        <textarea name="description"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
      </div>
      <div class="mb-6">
        <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Location</label>
        <input type="location" name="location"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <button type="submit"
        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>

    <form id="delete_post"  method="POST" style="display:none">
      <div class="mb-6">
        <div class="mb-6">
          <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">ID</label>
          <input required type="id" name="id"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
        </div>
        <p class="italic m-2 text-xl font-medium text-gray-900 dark:text-gray-300">
          WARNING: This will delete the listing on the database there is no way to revert this changes.
        </p>
      </div>
      <button type="submit"
        class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" >Submit</button>
    </form>

    <form id="purge_post"  method="POST" style="display:none">
      <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Password</label>
        <input required id="password_content" type="password" name="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
        <p class="italic m-2 text-xl font-medium text-gray-900 dark:text-gray-300">
          WARNING: This will delete all expired listings on the database there is no way to revert these changes.
        </p>
      </div>
      <button type="submit"
        class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" >Submit</button>
    </form>
  </div>
</div>
{% endblock %}
{% block js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  let timeoutID = null;
  function getJobs(value) {
    $.ajax({
      url: '/search/' + value,
      type: 'GET',
      success: function(data) {
        console.log(data);
        if (data.length == 0) {
          $('#jobs').html("<h3>No jobs found</h3>")
        } else {
          $('#jobs').html(data);
        }
      }
    });
  }

  $('#search_term').keyup(function(e) {
    clearTimeout(timeoutID);
    const value = e.target.value
    timeoutID = setTimeout(() => getJobs(value), 500)
  });

  $(document).ready(function() {
    $("#modes").val() == 1;
    $('#new_post').show();
    $('#modes').change(function() {
      var option = $('#modes').val();
      if (option == 0) {
        $('#modify_post').hide();
        $('#purge_post').hide();
        $('#delete_post').hide();
        $('#new_post').show();
      } else if (option == 1) {
        $('#delete_post').hide();
        $('#purge_post').hide();
        $('#new_post').hide();
        $('#modify_post').show();
      } else if (option == 2) {
        $('#delete_post').show();
        $('#new_post').hide();
        $('#modify_post').hide();
        $('#purge_post').hide();
      } else if (option == 3) {
        $('#delete_post').hide();
        $('#new_post').hide();
        $('#modify_post').hide();
        $('#purge_post').show();
      }
    });
  });

</script>
{% endblock %}