{% extends 'layout.jinja2' %}
{% block title %} Dashboard {% endblock %}
{% block styles %} {{ super() }}
{% endblock %}
{% block content %}
<h1 class="ui header">Administrator Functions</h1>
<div class="ui divider"></div>
<br>
{% if current_user.is_authenticated and current_user.is_administrator %}
<div class="ui horizontal two stackable cards">
    <div class="card">
        <div class="content">
            <div class="header">Delete all expired listings</div>
            <div class="description">
                This goes through all the job listings and deletes the posts that are past their expiry date. <i>By default all expired posts are tagged as expired and left in the database.</i>
              </div>
            <div class="ui red message"><b>WARNING</b>: You cannot rollback this request.</div>
            <form class="ui form" method="POST" action="">
                <div class="field">
                  <label>Password</label>
                  <input required type="password" name="password" placeholder="Password">
                </div>
                <button class="negative ui button" type="submit">Purge</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Grant user access</div>
            <div class="description">
                Enter the email of the user who you wish to grant access to, after which they are able to register in the system. <i>You can manage all added emails here.</i>
            </div>
            <div class="ui message"><b>NOTE</b>: This only allows the user to register an account, and does not assign a password.</div>
            <form id="add_email" class="ui form">
                <div class="field">
                  <label>Email</label>
                  <input id="add_email_email" required type="email" name="email" placeholder="Email">
                </div>
                <button class="ui button" type="submit">Add email</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Manage User Priviliges</div>
            <div class="description">
                Enter the email of the user who you wish to modify, you can either grant a user administrator privelges or revoke them (<i>Revoke access only granted to system administrators</i>).
            </div>
            <div class="ui warning message"><b>NOTE</b>: Double check before updating a users privelges as they will have access to manage all postss.</div>
            <form id="search_user" class="ui form">
                <div class="field">
                    <div class="ui selection dropdown">
                        <input id="user_modify" type="hidden" name="user">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select User</div>
                            <div id="user_emails" class="menu"></div>
                      </div>
                </div>
                <div class="inline fields">
                    <label for="privelge">Privelge Level:</label>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input id="is_administrator" type="radio" name="privelge" tabindex="0" class="hidden">
                        <label>Administrator</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input id="is_user" type="radio" name="privelge" tabindex="0" class="hidden">
                        <label>User</label>
                      </div>
                    </div>
                </div>
                <button class="ui button" type="submit">Update User</button>
            </form>
        </div>
    </div>
</div>
<script defer src="/static/js/dashboard.js"></script>
{% else %}
<script>
    window.location.href = "/";
</script>
{% endif %}

{% endblock %}