{% extends 'layout.html' %}
{% block title %}
{{ config.title.prefix }} Homepage {{ config.title.seperator }} {{ config.title.suffix }}
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
    {% if jobs is defined and jobs|length > 0 %}
    <div class="mx-auto w-full max-w-4xl flex-col grid grid-cols-1 lg:grid-cols-2 gap-2">
        {% for job in jobs %}
        <div class="mx-auto w-full flex-col">
            <a href="/job/{{ job.id }}/" class="w-full">
            <div class="hover:outline hover:outline-02c39 hover:outline-5 m-2 rounded-xl p-3 bg-zinc-300 dark:bg-white">
                <h1 class="m-2 text-2xl font-bold tracking-tight text-gray-800 dark:text-black md:text-3xl lg:text-4xlrounded-lg px-2.5 py-1.5"> {{ job.title }}</h1>
                <p class="ml-2 text-sm font-semibold tracking-tight text-gray-800 dark:text-black md:text-base lg:text-lg px-2.5">{{ job.posted_on }} / {{ job.position }} @ {{ job.company}} / {{ job.location }}</p>
                <p class="m-2 text-sm tracking-tight text-gray-800 dark:text-black md:text-base lg:text-lg px-2.5 py-1.5"> {{ job.summary }}</p>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <article class="mx-auto mb-16 flex w-full max-w-4xl flex-col items-start justify-center">
        <div class="prose w-full max-w-none text-white">
            <h3 class="mb-4 text-xl font-bold tracking-tight text-white md:text-2xl">{{ config.site.no_jobs_message }}</h3>
        </div>
    </article>
    {% endif %}
{% else %}
<article class="mx-auto mb-16 flex w-full max-w-4xl flex-col items-start justify-center">
    <div class="prose w-full max-w-none text-white">
        <h3 class="mb-4 text-xl font-bold tracking-tight text-white md:text-2xl">{{ config.site.unauthorized }}</h3>
    </div>
</article>
{% endif %}
{% endblock %}