{% extends 'layout.html' %}
{% block title %}
{{ config.title.prefix }} {{ job.title }} {{ config.title.seperator }} {{ config.title.suffix }}
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
{% block search_bar %} {% endblock %}
<div class="mx-auto mb-16 flex w-full max-w-4xl flex-col items-start justify-center">
    <!-- If current_user isAdmin then show the uniqid -->
    {% if current_user.isAdmin %}
    <div class="text-center">
        <p class="text-gray-500 bg-blue-500 text-xl">
            Unique ID: {{ job.uniqid }}
        </p>
    </div>
    {% endif %}
  <a href="{{ job.url }}" class="mb-3 text-3xl font-bold tracking-tight text-black dark:text-white md:text-5xl inline-block italic">
    {{ job.title }} <svg class="absolute bg-blue-500 rounded-lg ml-2 mb-8 inline-block"  xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>
  </a>
  <div class="text-gray-700 dark:text-white text-2xl font-semibold">
    <span><abbr title="{{ job.title}}">{{ job.position }}</abbr> @ {{ job.company }} / <a class="italic" href="https://maps.google.com/?q={{ job.location }}">{{ job.location }} </a></span>
    <p class="text-lg mt-2">{{ job.posted_on }} - {{ job.date_expiry }}</p>
  </div>
  <div class="relative m-4 w-full text-black dark:text-white">
    <i>{{ job.summary }}</i>
  </div>
  <div class="relative w-full text-black dark:text-white">
    <p>{{ job.description | safe }}</p>
  </div>
</div>
{% endblock %}