{% extends 'layout.jinja2' %}
{% block title %} Home {% endblock %}
{% block styles %} {{ super() }} {% endblock %}
{% block content %}
<h1 class="ui header">Login</h1>
<div class="ui divider"></div>
<br>
{% if current_user.is_authenticated %}
{% else %}
<form class="ui form" method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="field">
    <label for="email">Email</label>
    <input required type="email" name="email" placeholder="Email">
  </div>
  <div class="field">
    <label>Password</label>
    <input required type="password" name="password" placeholder="Password">
  </div>
  <button class="ui button" type="submit">Login</button>
</form>
{% endif %}

{% endblock %}