{% extends 'layout.html' %}

{% block title %}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <h1>You are already logged in.</h1>
    {% if current_user.email == 'gaya' %}
        <script>window.location.href = '/dashboard';</script>
    {% endif %}
{% else %}
    <!-- If error then list out all errors -->
    {% if errors %}
        <ul>
            {% for e in errors %}
                <li class="text-gray-100 bg-red-500 p-2 rounded-lg">Invalid {{e}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
            <input required type="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
        </div>
        <div class="mb-6">
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Username</label>
            <input required type="username" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
        </div>
        <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Password</label>
            <input required type="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
        </div>
        <button type="submit"
        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >Submit</button>
    </form>

{% endif %}
{% endblock %}
{% block search_bar %}{% endblock %}
{% block search_js %}{% endblock %}