{% extends 'layout.jinja2' %}
{% block title %} Home {% endblock %}
{% block styles %} {{ super() }} {% endblock %}
{% block content %}
<h1 class="ui header">Register</h1>
<div class="ui divider"></div>
{% if current_user.is_authenticated %}
<div class="ui warning message">
  <i class="close icon"></i>
  <div class="header">
    You are already logged in as {{ current_user.email }}!
  </div>
  {% if current_user.is_administrator %}
  Head over to the <a href="/dashboard">dashboard</a> to manage posts.
  {% else %}
  Head over to the <a href="/">homepage</a> to view posts.
  {% endif %}
</div>
{% endif %}
{% if errors %}
        <ul>
            {% for e in errors %}
              <div class="ui message">
                <div class="header">{{e}}</div>
                <p>
                  {% for x in errors[e] %}
                  {{ x }}
                  {% endfor %}
                </p>
              </div>
            {% endfor %}
        </ul>
{% endif %}
<form class="ui {% if current_user.is_authenticated %}disabled{% endif %} form" method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="field {% if errors['password'] %}error{% endif %}{% if current_user.is_authenticated %}disabled{% endif %}">
    <label for="email">Email</label>
    <input required type="email" name="email" placeholder="Email">
  </div>
  <div class="field {% if errors['password'] %}error{% endif %}{% if current_user.is_authenticated %}disabled{% endif %}">
    <label>Password</label>
    <input required type="password" name="password" placeholder="Password">
  </div>
  <div class="field {% if errors['password'] %}error{% endif %}{% if current_user.is_authenticated %}disabled{% endif %}">
    <label>Confirm Password</label>
    <input required type="password" name="confirm_password" placeholder="Password">
  </div>
  <button class="ui button {% if current_user.is_authenticated %}disabled{% endif %}" type="submit">Register</button>
</form>

{% endblock %}